@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --bar: #000000;
  --search-border: #485fc7;
  --search-border-shadow: #3273dc40;
  --search-border-shadow-active: #28ff4860;
  --search-border-shadow-disabled: #ff393950;
  --search-button-background: #ffe900;
  --search-bg: #eeeeee;
  --tab-bg-selected: #dddddd;
  --tab-bg: #cccccc;
  --tab-bg-aqua: #73a2c780;
  --tab-border: #ff8aca95;
  --tab-button: #ff8aca20;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bar: var(--bar);
  --color-search-border: var(--search-border);
  --color-search-border-shadow: var(--search-border-shadow);
  --color-search-border-shadow-active: var(--search-border-shadow-active);
  --color-search-border-shadow-disabled: var(--search-border-shadow-disabled);
  --color-search-button-background: var(--search-button-background);
  --color-search-bg: var(--search-bg);
  --color-tab-bg-selected: var(--tab-bg-selected);
  --color-tab-bg: var(--tab-bg);
  --color-tab-bg-aqua: var(--tab-bg-aqua);
  --color-tab-border: var(--tab-border);
  --color-tab-button: var(--tab-button);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --search-button-background: #272901;
    --bar: #1e2939;
    --search-bg: #111111;
    --tab-bg-selected: #222222;
    --tab-bg: #333333;
    --tab-border: #ff8aca40;
  }
}

body {
  background: var(--bar);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: var(--background);
  min-height: 100vh;
}
