@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --bar: #000000;
  --search-border: #485fc7;
  --search-border-shadow: #3273dc40;
  --search-border-shadow-active: #28ff4860;
  --search-border-shadow-disabled: #ff393950;
  --search-button-background: #ffe900;
  --search-bg: #eeeeee;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bar: var(--bar);
  --color-search-border: var(--search-border);
  --color-search-border-shadow: var(--search-border-shadow);
  --color-search-border-shadow-active: var(--search-border-shadow-active);
  --color-search-border-shadow-disabled: var(--search-border-shadow-disabled);
  --color-search-button-background: var(--search-button-background);
  --color-search-bg: var(--search-bg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --search-button-background: #272901;
    --bar: #1e2939;
    --search-bg: #111111;
  }
}

body {
  background: var(--bar);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background: var(--background);
  min-height: 100vh;
}
